@page
@model AgenciaTurismo.Pages.Pacotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PacoteTuristico[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacoteTuristico[0].DataPartida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacoteTuristico[0].DuracaoDias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacoteTuristico[0].CapacidadeMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacoteTuristico[0].Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PacoteTuristico) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPartida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracaoDias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeMaxima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
